language: node_js

# Use container-based infrastructure
sudo: false

node_js:
  - "node" # latest stable Node.js release
  - "7"

install:
  - yarn global add codeclimate-test-reporter
  - yarn --frozen-lockfile

script:
  - yarn run ci
  - yarn run deploy

after_script:
  - CODECLIMATE_REPO_TOKEN=328e760689af2f4735148ef7185619fc39e7fc89204ee803d43c8b6e7342c20f codeclimate-test-reporter < coverage/lcov.info

addons:
    code_climate:
        repo_token: 328e760689af2f4735148ef7185619fc39e7fc89204ee803d43c8b6e7342c20f
